.active-camera-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.active-camera-container .video-stream {
  width: 100vw;
  height: 100vh;
}

.active-camera-container .video-stream #quadrator-video-stream {
  width: 100vw;
  height: 100vh;
}