<div class="container">

    <a href="/" class="logo">
        <img src="/static/images/logo.png">
    </a>

    <nav ng-include="'/static/templates/common/main-menu.html'"
         ng-controller="mainMenuController"></nav>

    <div class="user">
        <span class="user-name user-name--fio" ng-if="currentUser.fio.length">{{currentUser.fio}}</span>
        <span class="user-name" ng-if="!currentUser.is_staff">
            {{currentUser.is_organization_admin ? 'Начальник' : 'Сотрудник'}} охраны
        </span>
        <span class="user-name" ng-if="currentUser.is_staff">
            Администратор
        </span>
        <a ui-sref="logout">Выйти</a>
    </div> 
</div>