<section class="main admin-container profile" ng-class="{'in-loading': sendForm}">
  <div class="container clearfix">
    <h1>{{ (state.current.data.isAdminProfile) ? 'Администратор' : 'Главный охранник'}}</h1>
    <div class="profile__block">
      <div class="profile__block__img">
        <img src="/static/images/user-placeholder.png" alt="">
      </div>
      <form name="profileForm" ng-submit="saveUser(profileForm)" class="profile__block__form">
        <div class="form-field form-field--required">
          <label>
            Логин
            <br>
            <input ng-model="user.username" class="form-field__input" required type="text">
          </label>
        </div>
        <div class="form-field form-field--required">
          <label>
            Пароль
            <br>
            <input ng-model="user.password" class="form-field__input" required type="password">
          </label>
        </div>
        <!-- <div class="form-field form-field--required">
          <label>
            эл. почта для восстановления пароля
            <br>
            <input ng-model="user.email" class="form-field__input" required type="email">
          </label>
        </div> -->

        <div class="form-field form-field--required">
          <label>
            фио
            <br>
            <input ng-model="user.fio" class="form-field__input" required type="text">
          </label>
        </div>
        <div ng-if="!state.current.data.isAdminProfile" class="form-field form-field--required form-field--required--select">
          <label>
            часовой пояс <br>
            <div ng-show="true"
              ng-select
              ng-model="user.timezone"
              ng-model-list="timezones"
              ng-select-options="{class: 'select-3', label: 'label', value: 'value'}"></div>
          </label>
        </div>
        <div ng-if="!state.current.data.isAdminProfile" class="form-field">
          <label>
            эл. почта для уведомлений
            <br>
            <input ng-model="user.email" class="form-field__input" type="email">
          </label>
        </div>
        <div ng-if="!state.current.data.isAdminProfile" class="form-field">
          <label>
            телефон для смс
            <br>
            <input class="form-field__input"
            ng-model="user.phone"
            ng-mask="{mask: '+7(999)999-99-99'}"
            type="text">
          </label>
        </div>
        <button type="submit" class="button">Сохранить</button>
      </form>
    </div>
  </div>
</section>