<section class="main admin-container profile" ng-class="{'in-loading': sendForm}">
    <div class="container clearfix">
        <h1>
            <a ui-sref="main.administration.quadrators.list">
                <img src="/static/images/arrow_back.svg" alt=""></a>
            {{(currentQuadrator.id) ? 'Редактирование' : 'Добавление'}} квадратора
        </h1>
        <div class="profile__block">
            <div class="profile__block profile__block--wide">
                <form name="quadratorForm" ng-submit="saveQuadrator(quadratorForm)" class="profile__block__form">
                    <div class="form-field form-field--required">
                        <label>
                            название квадратора <br>
                            <input ng-model="currentQuadrator.name" class="form-field__input" required type="text">
                        </label>
                    </div>

                    <div class="form-field form-field--cam-params">
                        Параметры квадратора<br>
                        <div class="form-field__row">
                            <div class="form-field">
                                <label>
                                    Камер по ширине<br>
                                    <input ng-model="qudratorSize.num_cam_x.length"
                                           min="1"
                                           max="6"
                                           class="form-field__input auto-width" required type="number">
                                </label>
                            </div>
                            <div class="form-field">
                                <label>Камер по высоте<br>
                                    <input ng-model="qudratorSize.num_cam_y.length"
                                           min="1"
                                           max="6"
                                           class="form-field__input auto-width" required type="number">
                                </label>
                            </div>
                        </div>
                        <div class="form-field form-field--required--select form-field--required--select--fullwidth">
                            <label>
                                Соотношение сторон отображения камер <br>
                                <div ng-select
                                     ng-model="selectedSize"
                                     ng-model-list="resolutionsSelect"
                                     ng-select-options="{class: 'select-3', label: 'size'}">
                                </div>
                            </label>
                        </div>



                        <table ng-attr-width="{{cellWidth * qudratorSize.num_cam_x.length}}px"
                               ng-attr-height="{{cellHeight * qudratorSize.num_cam_y.length}}px"
                               class="create-quadrator-table"
                               border="0" cellpadding="0" cellspacing="0">
                            <tr ng-repeat="(indy, y) in qudratorSize.num_cam_y track by $index"
                                ng-init="rowIndex = $index">
                                <td ng-repeat="(indx, x) in qudratorSize.num_cam_x track by $index"
                                    ng-if="!quadratorParams[indy * qudratorSize.num_cam_x.length + indx].hidden"
                                    ng-attr-colspan="{{quadratorParams[getCameraIndex(indx, indy)].cols || 1}}"
                                    ng-attr-rowspan="{{quadratorParams[getCameraIndex(indx, indy)].rows}}"
                                    ng-attr-width="{{cellWidth * (quadratorParams[getCameraIndex(indx, indy)].cols || 1)}}px"
                                    ng-attr-style="{{cameraBackground(getCameraIndex(indx, indy))}}">
                                    <div class="create-quadrator-table__container">
                                        <img class="cameras-table-size_img"
                                             ng-attr-width="{{quadratorParams[getCameraIndex(indx, indy)].width || cellWidth}}px"
                                             ng-attr-height="{{quadratorParams[getCameraIndex(indx, indy)].rows * cellHeight}}px"
                                             ng-src="/static/images/{{selectedSize.size.replace(':', 'x')}}.gif">
                                    </div>
                                    <div ng-select
                                         ng-model="quadratorParams[getCameraIndex(indx, indy)].camera"
                                         ng-model-list="camerasList"
                                         bindLabel="name"
                                         ng-select-options="{class: 'select-3', label: 'name'}">
                                    </div>

                                    <button class="quadrator-control quadrator-control_top"
                                            ng-click="setNewSize(getCameraIndex(indx, indy), 'up')"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].buttons.up"
                                            type="button"></button>
                                    <button class="quadrator-control quadrator-control_bottom"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].buttons.down"
                                            ng-click="setNewSize(getCameraIndex(indx, indy), 'down')"
                                            type="button"></button>

                                    <button class="quadrator-control quadrator-control_bottom_revert"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].toBottom"
                                            ng-click="resetCamSize(getCameraIndex(indx, indy), 'down')"
                                            type="button"></button>

                                    <button class="quadrator-control quadrator-control_top_revert"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].toUp"
                                            ng-click="resetCamSize(getCameraIndex(indx, indy), 'up')"
                                            type="button"></button>

                                    <button class="quadrator-control quadrator-control_left"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].buttons.left"
                                            ng-click="setNewSize(getCameraIndex(indx, indy), 'left')"
                                            type="button"></button>

                                    <button class="quadrator-control quadrator-control_left_revert"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].toLeft"
                                            ng-click="resetCamSize(getCameraIndex(indx, indy), 'left')"
                                            type="button"></button>

                                    <button class="quadrator-control quadrator-control_right"
                                            ng-click="setNewSize(getCameraIndex(indx, indy), 'right')"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].buttons.right"
                                            type="button"></button>

                                    <button class="quadrator-control quadrator-control_right_revert"
                                            ng-if="quadratorParams[getCameraIndex(indx, indy)].toRight"
                                            ng-click="resetCamSize(getCameraIndex(indx, indy), 'right')"
                                            type="button"></button>

                                </td>
                            </tr>
                        </table>
                    </div>



                    <div class="form-field form-field--cam-params">
                        Параметры потока<br>
                        <div class="form-field__row">
                            <div class="form-field">
                                <label>
                                    fps
                                    <br>
                                    <div ng-select
                                         ng-model="currentQuadrator.output_FPS"
                                         ng-model-list="fpsList"
                                         ng-select-options="{class: 'select-3', label: 'label', value: 'value'}"></div>
                                </label>
                            </div>
                            <div class="form-field">
                                <label>
                                    качество
                                    <br>
                                    <div ng-select
                                         ng-model="currentQuadrator.output_quality"
                                         ng-model-list="qualityList"
                                         ng-select-options="{class: 'select-3'}"></div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-field form-field--required form-field--required--select form-field--required--select--fullwidth">
                        <label>
                            Сервер <br>
                            <div ng-select
                                 ng-model="currentQuadrator.server"
                                 ng-model-list="serversList"
                                 ng-select-options="{class: 'select-3', label: 'name', value: 'id'}">
                            </div>
                        </label>
                    </div>
                    <button type="submit" ng-disabled="!quadratorForm.$valid || updateInProgress" class="button">Сохранить</button>
                </form>
                <button type="button" ng-if="currentQuadrator.id"
                        ng-click="deleteQuadrator()"
                        class="button button--dell">Удалить квадратор</button>
                </div>
            </div>
        </div>
</section>
